<div class="panel panel-success" *ngIf="feed">
  <div class="panel-heading">
    <div class="row">
      <h2 class="col-sm-8 panel-title">
        <a [href]="feed?.link" target="__blank">
          <img class="feed-author-image" [src]="feed?.image" [alt]="feed?.author">
          {{feed?.title}}
        </a>
      </h2>
      <span class="col-sm-2 col-sm-offset-2 panel-title text-right">Items Count: {{items?.length}}</span>
    </div>
  </div>
  <div class="panel-body">
    <div class="well" *ngIf="feed.description">{{feed.description}}</div>
    <div class="row" *ngIf="items && items.length">
      <div class="col-sm-12" *ngFor="let item of items;">
        <app-article [article]="item" [fullView]="false"></app-article>
      </div>
    </div>
  </div>
</div>