<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <h3 class="col-sm-9 panel-title">
        <a [href]="article?.guid" target="__blank">{{article?.title}}</a>
      </h3>
      <span class="col-sm-2 col-sm-offset-1 text-right">{{article?.pubDate | amDateFormat:'LL'}}</span>
    </div>
  </div>
  <div class="panel-body">
    <p *ngIf="fullView" [innerHTML]="article?.description"></p>
    <ul class="nav nav-pills" *ngIf="article.categories">
      Tags:&nbsp; <span *ngIf="!article.categories.length">None</span>
      <li *ngFor="let category of article.categories;">
        <span class="label label-primary">{{category}}</span>
      </li>
    </ul>
  </div>
</div>